body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.jumbotron {
    background-attachment: fixed;
    background-image: url(cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
.display-4 {
    color: whitesmoke;
    font-size: 50pt;
    text-shadow: 10px 10px 10px black;
}
.lead {
    color: whitesmoke; 
    font-size: 30pt;
    font-variant: initial;
    text-shadow: 10px 10px 10px black;
}
.indexbyline {
    color: #3c3c20;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 20px 20px 20px whitesmoke;
}
.fa, .far, .fas {
    height: 60px; 
    width: 60px;
}
.yodaicon {
    height: 30px;
    width: 30px;
    margin-right: .5rem!important;
}
.indexfooter {
    color: whitesmoke; 
    font-size: 12pt;
    text-shadow: 10px 10px 10px black; 
}