.jumbotron {
    background-attachment: fixed;
    background-image: url(cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.display-4 {
    color: whitesmoke;
    font-size: 50pt;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: 10px 10px 10px black;
}
.lead {
    color: whitesmoke; 
    font-size: 30pt;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 5px 5px 5px black;
}
.indexbyline {
    font-size: 20pt;
    text-shadow: 20px 20px 20px whitesmoke;
    font-family: 'Bowlby One SC', cursive;
}
.fa, .far, .fas {
    height: 60px; 
    width: 60px;
}
.yodaicon {
    height: 30px;
    width: 30px;
    margin-right: .5rem!important;
}
.indexfooter {
    color: whitesmoke; 
    font-size: 12pt;
    text-shadow: 10px 10px 10px black; 
}
.resumetitle {
    color: #588443;
    font-size: 30 pt;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
} 
.yodapic {
    height: 30px;
    width: 30px;
    }
.table .thead-dark th {
    background-color: #588443;
}
.h5, h5 {
    font-size: 14pt;
    font-family: 'Orbitron', sans-serif;
}
.navbar {
    font-family: 'Orbitron', sans-serif;
}
.thead-dark {
    font-family: 'Orbitron', sans-serif;
    height: 40px;
}
.resumetable {
    font-family: 'Orbitron', sans-serif;
}
.referencerequest {
    font-family: 'Bowlby One SC', cursive;
    font-size: 12pt;
}
.btn-outline-success {
    font-family: 'Bowlby One SC', cursive;
    color: white;
    border-color: #588443;
}